body {
   background-image: url('https://ibb.co/KpbJK57j');
   background-size: cover;
   background-repeat: no-repeat;
   color: grey;
}

.profile-header {
   text-align: center 
}

.avatar {
   width: 500;
   height: 500;
   border-radius: 90%;
   object-fit: cover;
   border: 5px solid darkorchid;
}

p {
   font-size: clamp(1.25rem, 1.25rem + ((1vw - 0.2rem) * 0.568), 1.5rem);
}

.ressume {
   text-align: center;
}

h1 {
   font-size: 60px;
}