body {
   background-image: url('background.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.profile-header {
   text-align: center 
}

.avatar {
   width: 500;
   height: 500;
   border-radius: 90%;
   object-fit: cover;
   border: 5px solid black;
}